html, body {
  margin: 0;
  padding: 0;
  background-color: #6B98F2;
}
/* A7C8F2 */
h1{
  font-size: 50px;
  font-family: 'Princess Sofia', cursive;
  color: #E6F2DC;
}
p{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 15px;
}
h5{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 11px;
  /* margin-left: 420px; */
  width: 590px;
  padding:20px;
  background-color: #E6F2DC;
  text-align:left;

}
canvas {
  display: block;
  margin: auto;
}
img {
width: 20%;
margin-left: 0px;
}

button {
  margin: auto;
  display: block;
  margin-top: 5px;
  padding: 15px;
  color: black;
  background-color: #F2A2E5;
  border-style:double;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;


}
